---
Checks: >
  *,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
  readability-*,
    -readability-identifier-length,
    -readability-magic-numbers,
  performance-*,
  modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  hicpp-*,
    -hicpp-avoid-c-arrays,
  misc-*,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
  openmp-*,
  portability-*,
  mpi-*,
  cert-*,
    -cert-dcl21-cpp,
  clang-analyzer-*,
  -llvmlibc-*,
  llvm-*,
    -llvm-header-guard,
  altera-*,
    -altera-unroll-loops,
    -altera-id-dependent-backward-branch,
  android-*,
  fuchsia-*,
    -fuchsia-overloaded-operator,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
  linuxkernel-*,
InheritParentConfig: false
HeaderFileExtensions:
  - h
