# common build directory
build
*-build-*

# Python cache
__pycache__
venv

cmake-build-debug

.cache
docs/html
docs/theme

# Generated using only the Github workflow
benchmark_result.json

singleheader/ada.h
singleheader/ada_c.h
singleheader/ada.cpp
singleheader/singleheader.zip

benchmarks/competitors/servo-url/debug
benchmarks/competitors/servo-url/target

#ignore VScode
.vscode/