[package]
name = "servo-url"
version = "0.1.0"
edition = "2021"

[lib]
path = "lib.rs"
crate-type = ["cdylib"]

[dependencies]
url = "2.5.7"
libc = "0.2"

[profile.release]
opt-level = 3
debug = false
lto = true
