name: Ubuntu aarch64 (GCC 12)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - uses: uraimo/run-on-arch-action@b0ffb25eb00af00468375982384441f063da1741 # v2.7.2
        name: Build and Test
        id: runcmd
        with:
          arch: aarch64
          githubToken: ${{ github.token }}
          distro: ubuntu22.04
          install: |
            apt-get update -q -y
            apt-get install -y cmake make g++-12 ninja-build git gcc-12
            ln -s -f /usr/bin/gcc-12 /usr/bin/gcc
            ln -s -f /usr/bin/g++-12 /usr/bin/g++
          run: |
            cmake -DCMAKE_CXX_STANDARD=20 -B build
            cmake --build build
            ctest --test-dir build
