name: Ubuntu aarch64 (GCC 12)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shared: [OFF]
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: uraimo/run-on-arch-action@b0ffb25eb00af00468375982384441f063da1741 # v2.7.2
        name: Build and Test
        id: runcmd
        env:
          CXX: g++-12
        with:
          arch: aarch64
          githubToken: ${{ github.token }}
          distro: ubuntu22.04
          install: |
            apt-get update -q -y
            apt-get install -y cmake make g++ ninja-build git
          run: |
            cmake -DADA_SANITIZE_BOUNDS_STRICT=ON -DBUILD_SHARED_LIBS=${{matrix.shared}} -B build
            cmake --build build
            ctest --test-dir build
