name: CodSpeed Benchmarks

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

permissions:
  contents: read

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Build the benchmark target(s)
        run: |
          cmake -DADA_TESTING=ON -DADA_BENCHMARKS=ON -DCODSPEED_MODE=simulation -G Ninja -B build
          cmake --build build -j
        env:
          CXX: g++-12
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: cmake --build build --target run_all_benchmarks

