name: macOS (Installation)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-build:
    strategy:
      fail-fast: false
      matrix:
        shared: [OFF]
        runs-on: [macos-14, macos-15, macos-26]
    runs-on: ${{matrix.runs-on}}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Prepare
        run: cmake -D ADA_TESTING=ON -DBUILD_SHARED_LIBS=${{matrix.shared}} -DCMAKE_INSTALL_PREFIX:PATH=destination -B build
      - name: Build
        run: cmake --build build -j=3
      - name: Install
        run: cmake --install build
      - name: Prepare test package
        run: cmake -DCMAKE_INSTALL_PREFIX:PATH=../../destination -S tests/installation -B buildbabyada
      - name: Build test package
        run: cmake --build buildbabyada
      - name: Run example
        run: ./buildbabyada/main
