name: macos (Installation)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-build:
    runs-on: macos-latest
  strategy:
    matrix:
      include:
        - shared: ON
        - shared: OFF
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Prepare
        run: cmake -D ADA_TESTING=ON -DBUILD_SHARED_LIBS=${{matrix.shared}} -DCMAKE_INSTALL_PREFIX:PATH=destination -B build
      - name: Build
        run: cmake --build build -j=3
      - name: Install
        run: cmake --install build
      - name: Prepare test package
        run: cmake -DCMAKE_INSTALL_PREFIX:PATH=../../destination -S tests/installation -B buildbabyada
      - name: Build test package
        run: cmake --build buildbabyada
      - name: Run example
        run: ./buildbabyada/main
