name: Debian pkg-config

on: [push, pull_request]

permissions:
  contents: read

jobs:
  pkg-config:
    runs-on: ubuntu-latest
    container:
      image: debian:12

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Install dependencies
      run: |
        apt -y update
        apt -y --no-install-recommends install g++ cmake make pkg-config

    - name: Build and install
      run: |
        cmake -B build
        cmake --build build
        cmake --install build

    - name: Test pkg-config
      run: pkg-config --cflags --libs ada
