name: Release Prepare

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Tag for the next release. Ex.: v5.0.0"

env:
  NEXT_RELEASE_TAG: ${{ github.event.inputs.tag }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release-script-test:
    uses: ./.github/workflows/release-script-tests.yml

  prepare-release-and-pull-request:
    permissions:
      contents: write
      pull-requests: write
    needs: release-script-test
    runs-on: ubuntu-latest
    if: ${{ needs.release-script-test.result == 'success' }}
    env:
      CXX: clang++-14
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Prepare Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: pip install -r ./tools/release/requirements.txt

      - name: Update source code versions
        run: ./tools/release/update_versions.py

      - name: Ada Build
        run: cmake -B build && cmake --build build
      - name: Ada Test
        run: ctest --output-on-failure --test-dir build

      - name: Create PR with code updates for new release
        uses: peter-evans/create-pull-request@f3a21bf3404eae73a97f65817ab35f351a1a63fe #v5.0.0
        with:
          commit-message: "chore: release ${{ env.NEXT_RELEASE_TAG }}"
          branch: "release/${{ env.NEXT_RELEASE_TAG }}"
          title: "chore: release ${{ env.NEXT_RELEASE_TAG }}"
          token: ${{ env.GITHUB_TOKEN }}
          body: |
            This pull PR updates the source code version to ${{ env.NEXT_RELEASE_TAG }}
          delete-branch: true
          reviewers: "lemire,anonrig"
