name: Release Prepare

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Tag for the next release. Ex.: v5.0.0"

env:
  NEXT_RELEASE_TAG: ${{ github.event.inputs.tag }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release-script-test:
    uses: ./.github/workflows/release-script-tests.yml

  prepare-release-and-pull-request:
    permissions:
      contents: write
      pull-requests: write
    needs: release-script-test
    runs-on: ubuntu-22.04-arm
    if: ${{ needs.release-script-test.result == 'success' }}
    env:
      CXX: clang++-14
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Prepare Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: pip install -r ./tools/release/requirements.txt

      - name: Update source code versions
        run: ./tools/release/update_versions.py

      - name: Ada Build
        run: cmake -B build && cmake --build build
      - name: Ada Test
        run: ctest --output-on-failure --test-dir build

      - name: Create PR with code updates for new release
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 #v8.1.0
        with:
          commit-message: "chore: release ${{ env.NEXT_RELEASE_TAG }}"
          branch: "release/${{ env.NEXT_RELEASE_TAG }}"
          title: "chore: release ${{ env.NEXT_RELEASE_TAG }}"
          body: |
            This pull PR updates the source code version to ${{ env.NEXT_RELEASE_TAG }}
          delete-branch: true
          reviewers: "lemire,anonrig"
          assignees: "lemire,anonrig"
          sign-commits: true
