name: Release Create

on:
  pull_request:
    types: [closed]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  check-release-conditions:
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'main' &&
      startsWith(github.event.pull_request.head.ref, 'release/v') &&
      startsWith(github.event.pull_request.user.login, 'github-actions')

    steps:
      - name: Check release conditions
        run: |
          echo "All conditions have been met!"

  release-script-test:
    needs: check-release-conditions
    uses: ./.github/workflows/release-script-tests.yml

  create-release:
    permissions:
      contents: write
    needs: release-script-test
    runs-on: ubuntu-latest
    if: ${{ needs.release-script-test.result == 'success' }}

    env:
      NEXT_RELEASE_TAG: ${{ github.event.pull_request.head.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Prepare Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: pip install -r ./tools/release/requirements.txt

      - name: Extract Tag from branch name
        run: |
          NEXT_RELEASE_TAG=$(echo $NEXT_RELEASE_TAG | sed 's/^release\///')
          echo "NEXT_RELEASE_TAG=${NEXT_RELEASE_TAG}" >> $GITHUB_ENV

      - name: Target release Tag
        run: echo "New tag $NEXT_RELEASE_TAG"

      - name: Amalgamation
        run: ./singleheader/amalgamate.py

      - name: "Create release"
        run: ./tools/release/create_release.py
