name: Ubuntu s390x (GCC 11)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      - uses: uraimo/run-on-arch-action@a8003307a739516fdd80ee6d3da8924db811b8da # v2.5.0
        name: Test
        id: runcmd
        with:
          arch: s390x
          distro: ubuntu_latest
          githubToken: ${{ github.token }}
          install: |
            apt-get update -q -y
            apt-get install -y cmake make g++
            apt-get install -y ninja-build
          run: |
            cmake -DCMAKE_BUILD_TYPE=Release -G Ninja -B build
            rm -r -f dependencies
            cmake --build build -j=2
            ctest --output-on-failure --test-dir build
