name: Ubuntu LoongArch64 (GCC 14)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ubuntu-build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup ENV
        run: |
          sudo apt-get update -y
          sudo apt-get install -y cmake curl ninja-build \
                                  g++-14-loongarch64-linux-gnu \
                                  gcc-14-loongarch64-linux-gnu-base \
                                  gcc-14-loongarch64-linux-gnu
          sudo curl -L https://github.com/loongson/build-tools/releases/download/2025.06.06/qemu-loongarch64 --output /usr/local/bin/qemu-loongarch64
          sudo chmod +x /usr/local/bin/qemu-loongarch64
      - name: Build
        run: |
          export QEMU_LD_PREFIX="/usr/loongarch64-linux-gnu"
          export QEMU_CPU="la464"
          cmake -DCMAKE_TOOLCHAIN_FILE=cmake/toolchains-dev/loongarch64.cmake \
                -DADA_TESTING=ON \
                -DADA_USE_SIMDUTF=ON \
                -DCMAKE_BUILD_TYPE=Release \
                -G Ninja -B build
          cmake --build build -j=4
      - name: Test
        run: |
          export QEMU_LD_PREFIX="/usr/loongarch64-linux-gnu"
          export QEMU_CPU="la464"
          ctest --output-on-failure --test-dir build
