name: Update WPT

on:
  schedule:
    - cron: '0 0 * * *'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: wpt-updater
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  issue:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        module: [url, urlpattern]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Fetch tests
        run: tools/update-wpt.sh ${{matrix.module}}
      - name: Open pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 #v8.1.0
        with:
          token: ${{secrets.GH_PAT}}
          commit-message: "test: update web platform tests"
          branch: automatic-update-wpt-${{matrix.module}}
          title: Update web platform tests (${{matrix.module}})
          body: |
            This is an automated pull request for updating the WPT.

            - [Web Platform Tests](https://github.com/web-platform-tests/wpt/tree/master/url)
            - [Commit History](https://github.com/web-platform-tests/wpt/commits/master/url/resources)

            cc @anonrig @lemire
          team-reviewers: core
          delete-branch: true
