name: Update WPT

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read

jobs:
  issue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          persist-credentials: false
      - name: Fetch tests
        run: tools/update-wpt.sh
      - name: Open pull request
        uses: gr2m/create-or-update-pull-request-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          title: "Update web platform tests"
          body: "This is an automated pull request for updating the WPT"
          branch: "automatic-update-wpt"
          author: "WPT Updater <yagiz@nizipli.com>"
          path: "tests/wpt"
          commit-message: "test: update web platform tests"
          reviewers: lemire, anonrig
